.biography-info{
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.biography-info p {
  color: #666;
  line-height: 25px;
  margin-top: 5px;
}

.biography-info p a{
  color: #069
}